/* main text color: ##212121 */
/* secondary text  color: #757575 */
/* accent color: #2196F3 */
/* main background color: #FFFFFF */
/* secondary background color: #F5F4FA */

/* banner-section text color: #FFFFFF */
/* banner-section background color: #2F303A */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --alt-text-color: #ffffff;
  --banner-background-color: #2f303a;
  --logo-main-color: #afb1b8;
  --safe-background-color: #c4c4c4;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

section:nth-child(2n + 4) {
  background-color: var(--secondary-background-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 8px;

  min-width: 530px;
  min-height: 580px;

  background-color: var(--secondary-background-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  width: 30px;
  height: 30px;
  border: 0px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--accent-color);
}

.modal-close img {
  cursor: pointer;
  height: 18px;
  width: 18px;
}

/* оформление ссылок и списков */
.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon {
  fill: currentColor;
}

/* оформление логотипа */
.web {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.studio {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* оформление блока навигации */
.header {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
  /* max-height: 80px; */
}

.header > .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navmenu,
.navmenu .item {
  display: inline-block;
}

.header-address .item {
  display: flex;
  align-items: center;
}
.header-address > .item:not(:first-child) {
  margin-left: 50px;
}

.header-address {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navmenu {
  margin-left: 93px;
}

.navmenu li:not(:first-child) {
  margin-left: 50px;
}

.nav-link {
  display: inline-block;
  padding: 32px 0;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
  padding: 32px 0;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.mail {
  height: 12px;
  width: 16px;
  margin-right: 10px;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.contacts:hover .icon,
.contacts:focus .icon {
  fill: var(--accent-color);
}

/* оформление секции баннера */

.banner {
  /* background-color: var(--banner-background-color); */
  background-color: var(--main-background-color);
}

.banner > .container {
  text-align: center;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--safe-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/bgc.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-title {
  margin-bottom: 30px;
  color: var(--alt-text-color);
  margin-left: auto;
  margin-right: auto;

  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.banner-link.link {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--alt-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.banner-link:first-letter {
  text-transform: uppercase;
}

/* оформление секции принципов */
.principles {
  padding-top: 94px;
}

.principles .container {
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.principles .list {
  display: flex;
}

.principles .item {
  width: calc((100% - 90px) / 4);
}

.sputnik::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  background-image: url('../images/antenna.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.clock::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  background-image: url('../images/clock.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.diagram::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  background-image: url('../images/diagram.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.austronaut::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  background-image: url('../images/astronaut.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.principles .item:not(:first-child) {
  margin-left: 30px;
}

.principles-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.principles-tittle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Оформление секции чем мы занимаемся */
.about {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--main-background-color);
}
.about > .container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.about-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.about .list {
  display: flex;
}

.about .item:not(:last-child) {
  margin-right: 30px;
}

.about-tittle::first-letter {
  text-transform: uppercase;
}

.about .item {
  position: relative;
}

.about .overlay {
  display: flex;
  position: absolute;
  height: 70px;
  width: 100%;
  top: calc(100% - 70px);

  align-items: center;
  justify-content: center;

  background: rgba(47, 48, 58, 0.8);
}

.about .overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--alt-text-color);
}

/* оформление секции нашей команды */
.team > .container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.team .list {
  display: flex;
  text-align: center;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--main-text-color);
}

.team-discription {
  padding: 30px 30px;
}

.team .item {
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team img {
  display: block;
  max-width: 270px;
}

.team .item:not(:last-child) {
  margin-right: 30px;
}

.team-tittle {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.team-tittle::first-letter {
  text-transform: uppercase;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-profession {
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* width: 44px;
  height: 44px; */
  border-radius: 50%;

  color: var(--logo-main-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item {
  height: 44px;
  width: 44px;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  color: var(--alt-text-color);
}

.instagram {
  width: 20px;
  height: 20px;
}

.twitter {
  width: 20px;
  height: 20px;
}

.facebook {
  width: 20px;
  height: 20px;
}

.linkedin {
  width: 20px;
  height: 20px;
}

/* оформление секции клиентов*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients > .container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.clients-tittle::first-letter {
  text-transform: uppercase;
}

.clients-tittle {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  /* justify-content: space-between; */
}

.clients .item {
  display: flex;
  width: 170px;
  height: 90px;
}

.clients .item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--logo-main-color);
  border-radius: 4px;

  width: 100%;
  height: 100%;

  color: var(--logo-main-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.logo-1 {
  width: 44.27px;
  height: 49.23px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 42.6px;
}

.logo-4 {
  width: 79.66px;
  height: 42.02px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88.48px;
  height: 45.44px;
}

/* Оформления футера и адреса */
.footer > .container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.web-footer {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.studio-footer {
  color: var(--alt-text-color);
  font-family: 'Raleway', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer {
  background-color: var(--banner-background-color);
  font-size: 14px;
  line-height: 24px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: var(--alt-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address .link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.address .link:not(:last-child) {
  margin-bottom: 9px;
}

.address p {
  margin-bottom: 9px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}

.join {
  margin-left: 70px;
  width: 206px;
  height: 80px;
}
.join-tittle {
  color: var(--alt-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .socials-link {
  color: var(--alt-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--accent-color);
  color: var(--alt-text-color);
}

/* оформление ссылки, текущей страницы в секции навигации */
.link.current-page {
  position: relative;
  color: var(--accent-color);
  position: relative;
}

.current-page::after {
  content: '';
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 4px;

  background-color: var(--accent-color);
  top: calc(100% - 3px);
}

/* оформление меню портфолио */

.portfolio .container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio a {
  display: block;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.portfolio {
  padding: 94px 0;
}

.button {
  padding: 0;
}

.portfolio .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-pages.button {
  cursor: pointer;
  border: 0px;
  min-width: 73px;
  min-height: 38px;
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--main-text-color);
  background-color: var(--secondary-background-color);

  font-family: 'Roboto', 'Sans-serif';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-pages:hover,
.portfolio-pages:focus {
  background-color: var(--accent-color);
  color: var(--alt-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards .item {
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.cards a {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards a:hover,
.cards a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards .item:nth-child(-1n + 3) {
  margin-top: 0px;
}
.cards .item:nth-child(3n) {
  margin-right: 0px;
}

.cards-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.cards-tittle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.cards-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 30px;
}

.cards-picture {
  position: relative;
  overflow: hidden;
}

.cards-overlay {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards a:hover .cards-overlay,
.cards a:focus .cards-overlay {
  transform: translate(0, -100%);
}

.cards .overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--alt-text-color);
}
